.outer {
   overflow: hidden;
   position: relative;
    
   -moz-animation: moveToTop2 .8s ease-in-out both;
   -webkit-animation: moveToTop2 .8s ease-in-out both;
   -ms-animation: moveToTop2 .8s ease-in-out both;
   -o-animation: moveToTop2 .8s ease-in-out both;
   animation: moveToTop2 .8s ease-in-out both;

   -moz-animation-delay: 2.2s;
   -webkit-animation-delay: 2.2s;
   -ms-animation-delay: 2.2s;
   -o-animation-delay: 2.2s;
   animation-delay: 2.2s;
    
   display: block;
}

.float {
    position: absolute;
    
    -moz-animation: moveToTop .7s ease-in-out both;
    -webkit-animation: moveToTop .7s ease-in-out both;
    -ms-animation: moveToTop .7s ease-in-out both;
    -o-animation: moveToTop .7s ease-in-out both;
    animation: moveToTop .7s ease-in-out both;
    
    -moz-animation-delay: 2.2s;
    -webkit-animation-delay: 2.2s;
    -ms-animation-delay: 2.2s;
    -o-animation-delay: 2.2s;
    animation-delay: 2.2s;
    
    -moz-animation-iteration-count: 0;
    -webkit-animation-iteration-count: 0;
    -ms-animation-iteration-count: 0;
    -o-animation-iteration-count: 0;
    animation-iteration-count: 0;
    
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    
    height: 100%;
    width: 100%;
    z-index: 10000;
    display: block;
	overflow-x: hidden;

}

/*********/


@-moz-keyframes moveToTop {
	from { -moz-transform: translateY(0%); 
          -webkit-transform: translateY(0%); 
          -ms-transform: translateY(0%); 
          -o-transform: translateY(0%); 
          transform: translateY(0%);
       }
	to { -moz-transform: translateY(-150%); 
         -webkit-transform: translateY(-150%); 
         -ms-transform: translateY(-150%); 
         -o-transform: translateY(-150%); 
         transform: translateY(-150%);
       }
}

@-webkit-keyframes moveToTop {
	from { -moz-transform: translateY(0%); 
          -webkit-transform: translateY(0%); 
          -ms-transform: translateY(0%); 
          -o-transform: translateY(0%); 
          transform: translateY(0%);
    }
	to { -moz-transform: translateY(-150%); 
         -webkit-transform: translateY(-150%); 
         -ms-transform: translateY(-150%); 
         -o-transform: translateY(-150%); 
         transform: translateY(-150%);
       }
}

@-ms-keyframes moveToTop {
	from { -moz-transform: translateY(0%); 
          -webkit-transform: translateY(0%); 
          -ms-transform: translateY(0%); 
          -o-transform: translateY(0%); 
          transform: translateY(0%);
    }
	to { -moz-transform: translateY(-150%); 
         -webkit-transform: translateY(-150%); 
         -ms-transform: translateY(-150%); 
         -o-transform: translateY(-150%); 
         transform: translateY(-150%);
       }
}

@-o-keyframes moveToTop {
	from { -moz-transform: translateY(0%); 
          -webkit-transform: translateY(0%); 
          -ms-transform: translateY(0%); 
          -o-transform: translateY(0%); 
          transform: translateY(0%);
         }
	to { -moz-transform: translateY(-150%); 
         -webkit-transform: translateY(-150%); 
         -ms-transform: translateY(-150%); 
         -o-transform: translateY(-150%); 
         transform: translateY(-150%);
       }
}

@keyframes moveToTop {
	from { -moz-transform: translateY(0%); 
          -webkit-transform: translateY(0%); 
          -ms-transform: translateY(0%); 
          -o-transform: translateY(0%); 
          transform: translateY(0%);
        }
	to { -moz-transform: translateY(-150%);
         -webkit-transform: translateY(-150%);
         -ms-transform: translateY(-150%); 
         -o-transform: translateY(-150%); 
         transform: translateY(-150%); 
       }
}


/*********/

@-moz-keyframes moveToTop2 {
	from { -moz-transform: translateY(30%); 
           -webkit-transform: translateY(30%); 
           -ms-transform: translateY(30%); 
           -o-transform: translateY(30%); 
           transform: translateY(30%);
         }
	to {  -moz-transform: translateY(0%); 
          -webkit-transform: translateY(0%); 
          -ms-transform: translateY(0%); 
          -o-transform: translateY(0%); 
          transform: translateY(0%);
       }
}

@-webkit-keyframes moveToTop2 {
	from { -moz-transform: translateY(30%); 
           -webkit-transform: translateY(30%); 
           -ms-transform: translateY(30%); 
           -o-transform: translateY(30%); 
           transform: translateY(30%);
         }
	to {  -moz-transform: translateY(0%); 
          -webkit-transform: translateY(0%); 
          -ms-transform: translateY(0%); 
          -o-transform: translateY(0%); 
          transform: translateY(0%);
       }
}

@-ms-keyframes moveToTop2 {
	from { -moz-transform: translateY(30%); 
           -webkit-transform: translateY(30%); 
           -ms-transform: translateY(30%); 
           -o-transform: translateY(30%); 
           transform: translateY(30%);
         }
	to {  -moz-transform: translateY(0%); 
          -webkit-transform: translateY(0%); 
          -ms-transform: translateY(0%); 
          -o-transform: translateY(0%); 
          transform: translateY(0%);
       }
}

@-o-keyframes moveToTop2 {
	from { -moz-transform: translateY(30%); 
           -webkit-transform: translateY(30%); 
           -ms-transform: translateY(30%); 
           -o-transform: translateY(30%); 
           transform: translateY(30%);
         }
	to {  -moz-transform: translateY(0%); 
          -webkit-transform: translateY(0%); 
          -ms-transform: translateY(0%); 
          -o-transform: translateY(0%); 
          transform: translateY(0%);
       }
}

@keyframes moveToTop2 {
	from { -moz-transform: translateY(30%); 
           -webkit-transform: translateY(30%); 
           -ms-transform: translateY(30%); 
           -o-transform: translateY(30%); 
           transform: translateY(30%);
         }
	to {  -moz-transform: translateY(0%); 
          -webkit-transform: translateY(0%); 
          -ms-transform: translateY(0%); 
          -o-transform: translateY(0%); 
          transform: translateY(0%);
       }
}

/*@-webkit-keyframes floatBubble {
    0% { -webkit-transform: translateY(0px); opacity: 1; }
    100% { -webkit-transform: translateY(1100px); opacity: 0.8; }
    
}
@keyframes floatBubble {
    0% {
        top:0px;
    }
    100% {
        top: 1300px;
    }
} */


